<h1>About:</h1>
<h2>Quick introduction about me and my project.</h2>
<p>
  Hi, my name is Devy Stacks and i'm a full stack python developer creating super useful solution in
  form of webapps. This project that i am currently working on is a password genertor to help users
  create a strong and hopefully safe password in a matter of clicks. My joruney begun recently as a
  programmer as i constantly think to myself "that would be cool to build" and so i now am learning
  how to build python apps that can help others and contribute in solving problems users has no tool
  to solve with. So join me in this journey and benefit from using my projects and getting to know
  me and what i'll be working on next.
</p>
